---
layout: default
---
<h1 class="home-title sr-only">{{ site.title }}</h1>

<div class="home-intro">
  {{ content }}
</div>

<div class="home-newsletter">
  <h2 class="newsletter-heading sr-only">Subscribe for updates</h2>
  {% include newsletter-signup.html %}
</div>

<ul class="ledger">
  {% for post in site.posts %}
  <li>
    <a href="{{ post.url | relative_url }}" class="ledger-row">
      <span class="ledger-date">
        <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%Y.%m.%d" }}</time>
      </span>
      <span class="ledger-title">{{ post.title }}</span>
      {% if post.categories.size > 0 %}
      <span class="ledger-tag">{{ post.categories | first }}</span>
      {% endif %}
    </a>
  </li>
  {% endfor %}
</ul>
